.h1 {
  font-family: fantasy;
}

p.box {
  border: solid hsla(0, 0%, 0%, 0.922);
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 0;
  border: 20px #29ba3a;
  padding: 2px;
  /* justify-content: center;
  text-align: center; */
  align-items: center;
}

.container {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.cartIcon {
  float: inline-end;
  font-size: 80px;
  color: black;
}
