.card--box-shadow {
  box-shadow: 0 13px 27px -5px rgba(93, 93, 144, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 3%);
  transition: box-shadow 0.2s ease-in-out;
}

.quantity {
  justify-content: center;
  column-gap: 7px;
}
.quantity .Button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  margin-bottom: 8px;
  align-items: center;
  row-gap: 5px;
}

.h1 {
  font-family: fantasy;
}

p.box {
  border: solid hsla(0, 0%, 0%, 0.922);
  padding-left: 5px;
  padding-right: 5px;
}

.card-cart {
  margin: 2rem;
  font-size: larger;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  /* column-gap: 3rem; */
  min-width: 300px;
  max-width: auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2px;
  align-items: center;
}

.parent-cart-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.cart-container {
  align-content: center;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.cart-link {
  color: #ffffff;
  font-size: 25px;
  margin-left: auto;
}
.price-details {
  max-height: 200px;
  margin-top: 3rem;
  margin-right: 1rem;
}

.product-card {
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 0;
  border: solid 1px #2a2d2a;
  border-radius: 2px;
  padding-top: 7px;
  padding: 10px;
  text-align: center;
}

.product-container {
  max-width: fit-content;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
